body {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; 
}

#clock-area, #window-size {
  font-size: 3em;
}

/* table {
  border-collapse: collapse;
} */

table, td {
  border: 1px solid #333;
}

td {
  padding: 5px;
  text-align: center;
  background: #ccc;
}