

.container {
  display: flex;  
  flex-flow: row wrap;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.container > * {
  flex: 1 100%;
  padding: 0;
  margin: 0;
}

.content {
  text-align: left;
  padding: 0;
  margin: 10px;
}

header {
  background: black;
  color:white;
}

footer {
  background: #333;
  color:white;
}

.sidebar {
  background:#eee;
}

.sidebar ul {
  padding: 0;
  margin: 10px 10px;
  list-style: none;
  line-height: 1.5em;
}

.sidebar li a {
  display: block;
  margin: 2px 0;
  padding: 10px;
  text-decoration: none;
}

.sidebar li a:hover {
  background: #333;
  color: white;
}

@media (min-width: 768px) {
  .sidebar {
    text-align:left;
    flex:1 auto;
    order:1;
  }
  .content {
    flex:5 0px;
    order:2;
  }
  footer {
    order:3;
  }
}