<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1"
    crossorigin="anonymous">
  <link rel="stylesheet" href="./css/style.css">
  <script src="./js/script.js" async></script>
  <title>FEP Layout</title>
</head>

<body>
  <div class="container">
    <!-- HEADER -->
    <header class="header">
      <img class="brand_logo" src="./img/hillel-logo.jpg" alt="" srcset="">
      <div id="toggleMenu" class="toggleMenu" ><i class="fa fa-bars"></i></div>
      <nav class="nav_header">
        <ul>
          <li><a href="#">Учебник</a></li>
          <li><a href="#">Курсы</a></li>
          <li><a href="#">Форум</a></li>
          <li><a href="#">ES6</a></li>
          <li><a href="#">Вакансии</a></li>
        </ul>
      </nav>
    </header>
    <!-- NAVIGATION -->
    <aside class="sidebar">
      <div class="nav_content">
        <div class="nav_section">
          <h4>Раздел</h4>
          <nav>
            <ul>
              <li>
                <a href="#">Введение</a>
              </li>
            </ul>
          </nav>
        </div>
        <div class="nav_section">
          <h4>Навигация по уроку</h4>
          <nav>
            <ul>
              <li>
                <a href="#что-такое-javascript">Что такое JavaScript?</a>
              </li>
              <li>
                <a href="#что-умеет-javascript">Что умеет JavaScript?</a>
              </li>
              <li>
                <a href="#что-не-умеет-javascript">Что НЕ умеет JavaScript?</a>
              </li>
              <li>
                <a href="#итого">Итого</a>
              </li>
            </ul>
          </nav>
        </div>
        <div class="nav_section">
          <h4>Поделиться</h4>
          <nav class="nav_social">
            <ul>
              <li>
                <a href="#">
                  <i class="fab fa-twitter"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fab fa-facebook-f"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fab fa-instagram"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fab fa-vk"></i>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </aside>
    <!-- MAIN SECTION -->
    <section class="content">
      <article>
        <h1>Введение в JavaScript</h1>
        <p>Давайте посмотрим, что такого особенного в JavaScript, почему именно он, и какие еще технологии существуют, кроме JavaScript.</p>
        <h2>
          <a class="main__anchor" name="что-такое-javascript" href="#что-такое-javascript">Что такое JavaScript?</a>
        </h2>
        <p>
          <em>JavaScript</em> изначально создавался для того, чтобы сделать web-странички «живыми». Программы на этом языке называются
          <em>скриптами</em>. В браузере они подключаются напрямую к HTML и, как только загружается страничка – тут же выполняются.</p>
        <p>
          <strong>Программы на JavaScript – обычный текст</strong>. Они не требуют какой-то специальной подготовки.</p>
        <p>В этом плане JavaScript сильно отличается от другого языка, который называется Java.</p>
        <div class="important">
          <div class="important__header">
            <span class="important__type"><i class="fas fa-info-circle"></i> Почему <u>Java</u>Script?</span>
          </div>
          <div class="important__content">
            <p>Когда создавался язык JavaScript, у него изначально было другое название: «LiveScript». Но тогда был очень популярен
              язык Java, и маркетологи решили, что схожее название сделает новый язык более популярным.</p>
            <p>Планировалось, что JavaScript будет эдаким «младшим братом» Java. Однако, история распорядилась по-своему, JavaScript
              сильно вырос, и сейчас это совершенно независимый язык, со своей спецификацией, которая называется
              <strong>ECMAScript</strong>, и к
              <strong>Java</strong> не имеет никакого отношения.</p>
            <p>У него много особенностей, которые усложняют освоение, но по ходу учебника мы с ними разберёмся.</p>
          </div>
        </div>
        <p>JavaScript может выполняться не только в браузере, а где угодно, нужна лишь специальная программа – интерпретатор. Процесс
          выполнения скрипта называют «интерпретацией».</p>
        <div class="important">
          <div class="important__header">
            <span class="important__type"><i class="fas fa-info-circle"></i> Компиляция и интерпретация, для программистов</span>
          </div>
          <div class="important__content">
            <p>Для выполнения программ, не важно на каком языке, существуют два способа: «компиляция» и «интерпретация».</p>
            <ul>
              <li>
                <em>Компиляция</em> – это когда исходный код программы, при помощи специального инструмента, другой программы, которая
                называется «компилятор», преобразуется в другой язык, как правило – в машинный код. Этот машинный код затем распространяется
                и запускается. При этом исходный код программы остаётся у разработчика.</li>
              <li>
                <em>Интерпретация</em> – это когда исходный код программы получает другой инструмент, который называют «интерпретатор»,
                и выполняет его «как есть». При этом распространяется именно сам исходный код (скрипт). Этот подход применяется
                в браузерах для JavaScript.</li>
            </ul>
            <p>Современные интерпретаторы перед выполнением преобразуют JavaScript в машинный код или близко к нему, оптимизируют,
              а уже затем выполняют. И даже во время выполнения стараются оптимизировать. Поэтому JavaScript работает очень быстро.</p>
          </div>
        </div>
        <p>Во все основные браузеры встроен интерпретатор JavaScript, именно поэтому они могут выполнять скрипты на странице. Но,
          разумеется, JavaScript можно использовать не только в браузере. Это полноценный язык, программы на котором можно запускать
          и на сервере, и даже в стиральной машинке, если в ней установлен соответствующий интерпретатор.</p>
        <h2>
          <a class="main__anchor" name="что-умеет-javascript" href="#что-умеет-javascript">Что умеет JavaScript?</a>
        </h2>
        <p>Современный JavaScript – это «безопасный» язык программирования общего назначения. Он не предоставляет низкоуровневых
          средств работы с памятью, процессором, так как изначально был ориентирован на браузеры в которых это не требуется.</p>
        <p>Что же касается остальных возможностей – они зависят от окружения, в котором запущен JavaScript. В браузере JavaScript
          умеет делать всё, что относится к манипуляции со страницей, взаимодействию с посетителем и, в какой-то мере, с сервером:</p>
        <ul>
          <li>Создавать новые HTML-теги, удалять существующие, менять стили элементов, прятать, показывать элементы и т.п.</li>
          <li>Реагировать на действия посетителя, обрабатывать клики мыши, перемещения курсора, нажатия на клавиатуру и т.п.</li>
          <li>Посылать запросы на сервер и загружать данные без перезагрузки страницы (эта технология называется "AJAX").</li>
          <li>Получать и устанавливать cookie, запрашивать данные, выводить сообщения…</li>
          <li>…и многое, многое другое!</li>
        </ul>
        <h2>
          <a class="main__anchor" name="что-не-умеет-javascript" href="#что-не-умеет-javascript">Что НЕ умеет JavaScript?</a>
        </h2>
        <p>JavaScript – быстрый и мощный язык, но браузер накладывает на его исполнение некоторые ограничения…</p>
        <p>Это сделано для безопасности пользователей, чтобы злоумышленник не мог с помощью JavaScript получить личные данные или
          как-то навредить компьютеру пользователя.</p>
        <p>Этих ограничений нет там, где JavaScript используется вне браузера, например на сервере. Кроме того, современные браузеры
          предоставляют свои механизмы по установке плагинов и расширений, которые обладают расширенными возможностями, но требуют
          специальных действий по установке от пользователя</p>
        <p>
          <strong>Большинство возможностей JavaScript в браузере ограничено текущим окном и страницей.</strong>
        </p>
        <figure>
          <img src="./img/limitations.png" alt="" width="530" height="400" class="image">
        </figure>
        <ul>
          <li>
            <p>JavaScript не может читать/записывать произвольные файлы на жесткий диск, копировать их или вызывать программы. Он
              не имеет прямого доступа к операционной системе.</p>
            <p>Современные браузеры могут работать с файлами, но эта возможность ограничена специально выделенной директорией –
              <em>«песочницей»</em>. Возможности по доступу к устройствам также прорабатываются в современных стандартах и частично
              доступны в некоторых браузерах.</p>
          </li>
          <li>
            <p>JavaScript, работающий в одной вкладке, не может общаться с другими вкладками и окнами, за исключением случая, когда
              он сам открыл это окно или несколько вкладок из одного источника (одинаковый домен, порт, протокол).</p>
            <p>Есть способы это обойти, и они раскрыты в учебнике, но они требуют специального кода на оба документа, которые находятся
              в разных вкладках или окнах. Без него, из соображений безопасности, залезть из одной вкладки в другую при помощи
              JavaScript нельзя.</p>
          </li>
          <li>
            <p>Из JavaScript можно легко посылать запросы на сервер, с которого пришла страница. Запрос на другой домен тоже возможен,
              но менее удобен, т. к. и здесь есть ограничения безопасности.</p>
          </li>
        </ul>
        <h2>
          <a class="main__anchor" name="итого" href="#итого">Итого</a>
        </h2>
        <p>Язык JavaScript уникален благодаря своей полной интеграции с HTML/CSS. Он работает почти у всех посетителей.</p>
        <p>…Но хороший JavaScript-программист не должен забывать и о других технологиях.</p>
        <p>Ведь наша цель – создание хороших приложений, и здесь Flash, Java и браузерные расширения имеют свои уникальные возможности,
          которые можно использовать вместе с JavaScript.</p>
        <p>Что же касается CoffeeScript, TypeScript и других языков, построенных над JavaScript – они могут быть очень полезны.
          Рекомендуется посмотреть их, хотя бы в общих чертах, но, конечно, уже после освоения самого JavaScript.</p>
      </article>
    </section>
    <!-- FOOTER -->
    <footer class="footer">
      <h3>© 2018 Sergey Kravchenko</h3>
      <button onclick="topFunction()" id="myBtn" title="Go to top"><i class="fas fa-arrow-up"></i></button>
    </footer>
  </div>
</body>

</html>