@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

* {
  padding: 0;
  margin: 0;
}

/* MOBILE FIRST */

.container {
  display: grid;
  /* grid-template-rows: 60px auto auto 30px; */
  grid-template-areas:
    'header'
    'content'
    'sidebar'
    'footer';
  background-color: #fff;
  color: #333;
  text-align: left;
  font-size: 14px;
  font-family: 'Roboto', Arial, sans-serif;
}

/* HEADER */

.header {
  grid-area: header;
  background-color: #fff;
  color:#8B8987;
  margin: 10px;
  display: grid;
  grid-template-areas:
    'brand_logo toggleMenu' 
    'nav_header nav_header';
  align-items: center;
  /* flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between; */
}

.brand_logo {
  max-width: 150px;
  grid-area: brand_logo;
  justify-self: start;
}
.toggleMenu {
  grid-area: toggleMenu;
  justify-self: end;
  font-size: 30px;
  color: #ba1000;
  padding: 5px;
  background: #fff;
  border: none;
  text-decoration: none;
}
.nav_header {
  grid-area: nav_header;
  display: none;
}
.showMenu{
  display: block;
}
.nav_header li {
  display: block;
  padding: 10px;
  text-align: center;
}
.nav_header a {
  display: block;
  color: #696664;
  text-decoration: none;
}
.nav_header a:hover {
  color: #ba1000;
}

/* NAVIGATION */

.sidebar {
  grid-area: sidebar;
  background:#eee;
  text-align: center;
}
.nav_content {
  margin: 20px 20px 0;
}
.nav_section {
  margin: 22px 0;
  padding: 0 2px;
}
.nav_section h4 {
  color: #bebebe;
  font-weight: 400;
  margin: 12px 0;
}
.nav_section ul {
  padding: 0;
  list-style: none;
  line-height: 1.25em;
}
.nav_section li {
  margin: 12px 0;
  line-height: 1.25;
}
.nav_section a {
  display: block;
  color: #696664;
  text-decoration: none;
}
.nav_section a:hover {
  color: #ba1000;
}
.nav_social li {
  display: inline-block;
  margin: 0 12px;
}
.nav_social a {
  color: #71baf2;
  font-size: 20px;
}

/* CONTENT */

.content {
  grid-area: content;
  text-align: left;
  line-height: 20px;
  padding: 10px;
  margin-bottom: 30px;
}

.content h1 {
  margin: 0 0 12px;
  font-size: 32px;
  line-height: 32px;
}
.content h2 {
  margin: 24px 0 12px;
  font-size: 24px;
  line-height: 32px;
}
.content p {
  margin: 0 0 12px;
}
.content ul {
  padding-left: 21px;
  margin: 22px 0;
}
.content a {
  text-decoration: none;
  color: inherit;
}
.content .image {
  width: 100%;
  height: 100%;
}
.content .important {
  margin: 16px 0;
  border: 3px solid #f5f2f0;
  border-radius: 6px;
}
.content .important__header {
  margin: 0;
  padding: 10px 12px 0;
  border: none;
} 
.content .important__type {
  font-weight: 700;
  font-size: 20px;
} 
.content .important__type i {
  color: #0083b3;
} 
.content .important__content {
  margin: 6px 12px 11px;
} 

/* FOOTER */

.footer {
  grid-area: footer;
  background-color: #fbfafa;
  color:#9d9d9d;
  padding: 10px;
}

/* BUTTON TO TOP */

#myBtn {
  display: none;
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 99;
  font-size: 14px;
  border: none;
  outline: none;
  background-color: #ba1000;
  color: white;
  cursor: pointer;
  padding: 5px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}

/* MEDIA QUAERY FOR DESKTOP */

@media screen and (min-width: 768px) {
  .container {
    grid-template-columns: minmax(250px, 1fr) auto;
    grid-template-areas:
    'header header'
    'sidebar content'
    'footer footer';
  }
  /* HEADER */
  .header {
    flex-direction: row;
    flex: 2 auto;
    grid-template-areas:
    'brand_logo nav_header'
  }
  .toggleMenu {
    display: none;
  }
  .nav_header {
    display: block;
    justify-self: end;
  }
  .nav_header li {
    display: inline-block;
    padding: 0 10px;
  }
  /* SIDEBAR */
  .sidebar {
    display: block;
    text-align: left;
  }

  /* CONTENT */
  .content {
    padding: 10px 100px;
  }
  .content .image {
    width: 530px;
    height: 400px;
  }

  /* FOOTER */
  .footer {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
  }
}