/* -----------------------------------------------------
   CSS Progress Bars
-------------------------------------------------------- */
.cssProgress {
  width: 100%;
  margin-bottom: 20px;
}
.cssProgress .progress1 {
  position: relative;
  overflow: hidden;
  width: 100%;
}
.cssProgress .cssProgress-bar {
  display: block;
  float: left;
  width: 0%;
  height: 100%;
  background: #63a4ff;
  box-shadow: inset 0px -1px 2px rgba(0, 0, 0, 0.1);
  animation: animBar 5s ease-in-out;
}
/* -----------------------------------------------------
  Progress Bar 1
-------------------------------------------------------- */
.progress1 {
  box-shadow: inset 0px 1px 3px rgba(10, 10, 10, 0.2);
}
.progress1 .cssProgress-bar {
  height: 18px;
}

@keyframes animBar {
  from   {width: 100%;}
  to  {width: 0%;}
}